* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Glory";
}

a {
  all: unset;
}

.hide {
  display: none;
}

button,
button:active {
  outline: none;
  all: unset;
  cursor: pointer;
}

header {
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header ul {
  display: none;
}

header .header__square {
  margin-top: 10rem;
  width: 300px;
  height: 300px;
  border: 4px solid white;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: white;
  font-weight: 700;
}

header nav {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav figure {
  width: 150px;
}

header nav figure img {
  width: 100%;
}

header nav .nav__hamburguer span {
  height: 2px;
  width: 1.3rem;
  display: block;
  border: 1px solid white;
}

header nav .nav__hamburguer span:not(:last-child) {
  margin-bottom: 0.3rem;
}

.explain {
  padding: 1rem;
  margin-top: 3rem;
}

.explain img {
  display: block;
  margin: auto;
  width: 75%;
}

.explain h1 {
  font-size: 3rem;
  color: pink;
  padding: 1rem;
  line-height: auto;
  text-align: center;
}

.explain p {
  font-size: 1.2rem;
  color: dimgray;
  padding: 1rem;
  line-height: 1.8rem;
  text-align: center;
}

.creations {
  padding: 2rem;
}

.creations h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.creations .grid__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creations .grid__card .card {
  margin-bottom: 1rem;
  width: 300px;
}

.creations .grid__card .card img {
  width: 100%;
}

footer {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer figure {
  width: 250px;
}

footer figure img {
  width: 100%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

footer ul a {
  font-size: 0.7rem;
  color: white;
  padding: 1rem;
  line-height: auto;
  text-align: center;
}

footer ul a:last-child {
  margin-bottom: 2rem;
}

footer .icon__box img {
  margin: 0 1rem;
}

@media screen and (min-width: 850px) {
  header {
    background-image: url("../images/desktop/image-hero.jpg");
  }
  header .header__square {
    margin: auto auto;
    width: 60%;
    margin-left: 9.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 6rem;
    font-weight: 200;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
    line-height: auto;
    text-align: center;
  }
  header ul a:not(:last-child) {
    margin-right: 1.4rem;
  }
  header .nav__hamburguer {
    display: none;
  }
  .explain {
    padding: 0rem 10rem;
    position: relative;
    margin-bottom: 8rem;
  }
  .explain figure {
    max-width: 850px;
    display: block;
  }
  .explain figure img {
    width: 100%;
  }
  .explain .explain__text {
    position: absolute;
    background: white;
    max-width: 660px;
    top: 270px;
    left: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid black;
  }
  .creations {
    padding: 2rem;
  }
  .creations .grid__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    justify-items: center;
  }
}
/*# sourceMappingURL=style.css.map */