extends header

//-Haciendo que herede de fpLayout
block content
    nav
        include logo
        h1 Movie Section
        h2 Welcome to your first CRUD with NodeJs and Pug implementation
    section.container
        // -if(data.length)
        //     article.item
        //         ul
        //             -for(let i = 0; i < data.length; i++)
        //                 li
        //                     a(href="/api/v1/users/" + data[i].id)= data[i].title
        //   -else
        //         p No hay datos
        -if(data.length)
            article.item
                each movie in data
                    h3 Imagen
                    div.info
                        h2= movie.title
                        h2= movie.release_year
                        h2= movie.rating
                        a(href=`/api/v1/users/${movie.title}`)= movie.title
        -else
                p No hay datos



