nav{
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.enlaces{
    display: flex;    
}

.enlaces ul a{
    padding: 10px;
    font-size: 30px;
}

.container{
    position: relative;
    width: 100%;
    background-color: white;
    height: 99.9vh;
    display: flex;
}

.container .card{
    position: relative;
    display: flex;
    flex-grow: 1;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.container .card ion-icon{
    font-size: 15vw;
}

.container .card:hover{
    flex-grow: 3;
    background-color:black;
    color: white;
}

.container .card:hover ion-icon{
    filter: drop-shadow(0 0 20px blue)
    drop-shadow(0 0 40px blue)
    drop-shadow(0 0 80px blue)
    drop-shadow(0 0 120px blue)
}