body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  //background-color: rgba(187, 239, 232, 0.8);
  font-family:'Glory';
  box-sizing: border-box;
  height: 100vh;
}

.container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 450px;
  padding: 2.5rem 1rem;
  font-size:0.9rem;
  border-radius: 2rem;
  text-align: center;
  //height: fit-content;
  box-shadow: 0 5px 20px black;
  position: relative;

  #location{
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    top: 0;
    right: 0;

  }

}

.info__top{
  display: flex;
  justify-content: space-around;

  .wrapper{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    #humidity::after{
      font-size: 1.2rem;
      font-weight: bold;
      content: '%';

    }
    img{
      width: 62px;
    }
  }
}

.main__box{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  .temp__info{
    //margin: 1rem;
    display: flex;}
    h2{
      font-size: 3.3rem;
      margin-right: 1.6rem;
    }
    .temp__extra{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: baseline;
      span{
        font-weight: bolder;
        font-size: 1.4rem;
      }
      .wrapper{
        display: flex;
        img{
          margin-right: 1rem;
        }
      }
    }
  }



.icon{
  align-self: center;
  width: 100px;
  //position: absolute;
  //z-index: 100;
  top: 0;
  img{
    width: 150%;
  }
}
#icon,#img{
  filter: invert(46%) sepia(91%) saturate(2901%) hue-rotate(164deg) brightness(99%) contrast(103%);
}



@keyframes mover {
  0%{
    transform: translateX(-50%);

  }
100%{
  transform: translateX(50%);
}
} 