/* Menu-Encabezado */
*{
    font-family: 'Glory',sans-serif;
    text-decoration: none;
}
p{
    font-size: 16px;
}
h1,h2,h3,h4{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: space-around;
    background-image: url("../img/img10.jpg");
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: cover;
}
.menu_titulo{
    color: white;
    font-size: 30px;
}

.menu_titulo span{
    color: orange;
}
.menu_items{
    display: flex;
    align-items: center;
}

.menu_items a {
    color: white;
    font-weight: 800;
    margin: 20px;
    font-size: 24px;
}

/* Slider */
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 8px solid orangered;
    border-bottom: 8px solid orangered;
    margin-top: 20px;
    /* padding: 50px; */
}
.slider > img{
    width: 40%;
    border-radius: 10%;
}

.texto{
    color: aliceblue;
    background-color: black;
    height: 100%;
}
.texto h1{
    font-size: 40px;
    margin-left: 60px ;
}
.texto p{
    margin: 40px;
    width: 80%;
    height: 100%;
    color: white;
}

.slider_button{
    padding: 10px;
    margin: 0px 10px;
    background-color: white;
    border-radius: 100%;
}

.fa-arrow-left , .fa-arrow-right{
    color: orange;
    font-size: 20px;
}


.cuerpo{
    display: flex;
}

.cuerpoC{
    padding: 10px;
    /* margin: 20px 60px 20px 20px; */
    
}

.izquierda{
    flex-basis: 80%;
}
.derecha{
    flex-basis: 20%;
}

.cuerpo1_1{
    display: flex;
    flex-wrap: wrap;
}
.cuerpo1_1 img{
    width: 70%;
    padding: 10px;
    
}

.cuerpo1_1_img{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orangered;
    color: white;
}
.cuerpo1_1_txt{
    width: 40%;
    padding: 10px;
    margin: auto;
}

.cuerpo1_2{
    display: flex;
    flex-wrap: wrap;
}

.cuerpo1_2_img{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.cuerpo1_2_c1{
    display: flex;
}

.cuerpo1_2_img img{
    width: 50%;
}

.cuerpo1_2_p{
    width: 40%;
    padding: 3px;
}

.cuerpo1_3 h1{
    font-size: 30px;
}
.cuerpo1_3 p{
    font-size: 20px;
}


.cuerpo2{
    display: flex;
    flex-wrap: wrap;
}

.cuerpo2_contenedor{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cuerpo2_contenedor_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuerpo2_contenedor_img img{
    width: 300px;
    margin: 10px;
}


.negro{
    background-color: black;
    color: white;
}

.cuerpo2C{
    flex-basis: 50%;
}

.cuerpo2_contenedor_txt{
    margin: 50px 0 0 0;
    width: 50%;
}
.derecha{
    background-color: black ;
    font-weight: 800;
    color: white;
}
footer{
    margin-top: 40px;
    align-self: flex-end;
    display: flex;
    background-color: black;
    font: 800;
    color: white;
    width: 100%;

}

.textos{
    /* padding: 20px; */
    margin: 10px;
}
.textos p{
    font-size: 24px;
}

a:hover{
    color: orangered;
    transform: scale(2);
    transition: all 2s;
}